<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AnnounceIT | Welcome page</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="container">
        <div class="intro-panel">
            <nav>
                <div class="logo">
                    <img src="../images/logo.png" alt="">
                </div>
                <div class="signin-signup-buttons">
                    <a href="./signin.html" id="signin">Sign In</a>
                    <a href="./signup.html" id="signup">Sign Up</a>
                </div>
            </nav>
            <section class="introduction">
                <div class="welcome-intro">
                    <img src="../images/tower.jpg" alt="welcome image">
                    <div class="welcome-description">
                        <h1>AnnounceIT helps you to create and manage announcements you want to send to broadcasting agencies.</h1>
                        <a href="./signup.html">Get Started!</a>
                    </div>
                </div>
                <div class="steps">
                    <h2>In just three steps,</h2>
                    <h4>Get control over your announcements!</h4>
                </div>
            </section>
        </div>

        <section class="guide-boards">
            <div class="board one">
                <div class="board-header">
                    <h2 class="board-number">1</h2>
                    <h2 class="board-title">Create an account</h2>
                </div>
                <div class="board-body">
                    <div class="board-description">
                        <p>AnnounceIT is an easy to use tool that helps you to create and manage announcements you send to broadcasting agencies.<br><br>We are excited to give you the best experience, but we first collect basic information about you for identification purpose only. Click the button below and let us get you started!</p>
                        <a href="./signup.html">Sign Up</a>
                    </div>
                    <img src="../images/avatar.png" alt="Sign Up image">
                </div>
            </div>

            <div class="board two">
                <div class="board-header">
                    <h2 class="board-number">2</h2>
                    <h2 class="board-title">Create an announcement</h2>
                </div>
                <div class="board-body">
                    <div class="board-description">
                        <p>Now that we know you, It is time to enjoy seamless experience interacting with AnnounceIT. Create an announcement and tell your broadcaster how long you want your announcement to be broadcasted. </p>
                    </div>
                    <img src="../images/announcement.png" alt="announcement image">
                </div>
            </div>
            
            <div class="board three">
                <div class="board-header">
                    <h2 class="board-number">3</h2>
                    <h2 class="board-title">View broadcaster's feedback</h2 c>
                </div>
                <div class="board-body">
                    <div class="board-description">
                        <p>After sending your announcement, you will get the feedback from your broadcaster. This will help you to know whether your announcement is pending, accepted, declined or deactivated!</p>
                    </div>
                    <img src="../images/feedback.png" alt="feedback image">
                </div>
            </div>
        </section>
    </div>

    <section class="more-features">
        <div class="update-feature ft">
            <h3>Update an announcement anytime</h3>
            <p>What if I made a mistake and sent the wrong message in an announcement, will I be able to make changes? <br><br> We definitely got your back on this one. You can make changes and update your announcements anytime!</p>
        </div>
    
        <div class="view-feature ft">
            <h3>View all or a specific announcement</h3>
            <p>I want to keep track of all the announcements I have created. Will I be able to do that? <br> <br> Absolutely! AnnounceIT enables you to view all your announcements. You can also view a specific announcement and its details.</p>
        </div>
    
        <div class="announcement-state-feature ft">
            <h3>View announcement of a specific state</h3>
            <p>As an advertiser, I want to know which announcements were accepted or declined. Will I be able to do that? <br> <br> AnnounceIT allows you to filter your announcements by their state. For instance, you can view all accepted announcements or all pending announcements.</p>
        </div>
    </section>

    <footer>
        <p>&copy; Free-Mentors 2020</p>
    </footer>
</body>
</html>