<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AnnounceIT | Create announcement</title>
    <link rel="stylesheet" href="../css/new-announcement.css">
</head>
<body>
    <div class="container">
        <div class="form">
            <form action="">
                <label for="announcementText">What would you like to communicate?</label>
                <br>
                <textarea name="announcementText" id="announcementText" cols="30" rows="20" placeholder="Please type your announcement here ..." minlength="10" required></textarea>
                <br>
                <div class="display-date">
                    <div class="start">
                        <label for="startDate">Start date:</label>
                        <input type="date" name="startDate" id="startDate" required>
                    </div>
                    <div class="end">
                        <label for="endDate">End date:</label>
                        <input type="date" name="endDate" id="endDate" required>
                    </div>
                </div>
                <br>
                <div class="submit-cancel">
                    <input type="submit" value="Submit" id="submit">
                    <a href="#">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>