<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AnnounceIT | Sign Up</title>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
    <div class="logo-bar">
        <img src="../images/logo.png" alt="AnnounceIT logo">
    </div>
    <div class="container">
        <h1>Welcome to AnnounceIT, register and get started!</h1>
        <form>
            <label for="firstname">First Name:</label>
            <br>
            <input type="text" name="firstname" placeholder="Enter your first name" required>
            <br>
            <label for="lastname">Last Name:</label>
            <br>
            <input type="text" name="lastname" placeholder="Enter your last name" required>
            <br>
            <label for="email">Email:</label>
            <br>
            <input type="text" name="email" placeholder="Enter your Email" required>
            <br>
            <label for="password">Create password:</label>
            <br>
            <input type="password" name="password" placeholder="Enter your password" required>
            <br>
            <label for="verifyPassword">Confirm password:</label>
            <br>
            <input type="password" name="verifyPassword" placeholder="Confirm password" required>
            <br>
            <input type="submit" value="Register" id="register">
        </form>

        <div class="redirect-to-signin">
            <a href="./signin.html">Do you have an account? Sign in instead.</a>
        </div>
    </div>
</body>
</html>