@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Roboto:400,700|Source+Sans+Pro:400,700&display=swap');

body {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(215,195,15,1) 100%);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Montserrat', sans-serif;
}

.container {
    background: #ffffff;
    width: 90%;
    margin: 5% auto;
    padding: 0.2rem;
}

.cancel-button {
    margin: 1rem;
    text-align: right;
}

.form {
    padding: 1rem 2rem;
    width: 80%;
    margin: 0.5rem auto;
}

label {
    font-weight: 600;
    margin-bottom: 1rem;
}

#announcementText {
    margin: 0.5rem auto;
    width: 95%;
    font-size: 1.3rem;
}

input {
    margin-bottom: 1rem;
}

.display-date {
    display: flex;
    flex-direction: column;
}

#endDate, #startDate {
    width: 60%;
}

#submit {
    margin-top: 0.8rem;
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #083343;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}

.submit-cancel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}

.submit-cancel a {
    text-decoration: none;
    height: 50%;
    margin-top: 0.8rem;
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #288383;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}

@media only screen and (min-width: 750px) {
    .container {
        width: 60%;
    }

    .display-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        margin: 0.5 auto;
        padding-right: 0.5rem;
    }

    .start, .end {
        width: 35%;
    }

    #endDate, #startDate {
        width: 100%;
        height: 2rem;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        width: 50%;
    }
}

@media only screen and (min-width: 1800px) {
    .container {
        width: 40%;
    }
}